.navigation{
	height: 80px;
	border-radius:0px;
}

.navigation, .navbar-default{
	background-color: #000;
	border-radius:0px;
}

.navbar-brand{
	width: 388px;
	height: 80px;
	border-radius:0px;
}

$enjoying-blue:#017eff;

ul { 
    list-style: none;
    
    li { 
        padding:10px;
		display: inline;
		
        img { 
            border: 2px solid white; 
			cursor: pointer;
			width:80px;
            &:hover{
                border: 4px solid #428BCA;
            }
            &.hover{
                border: 4px solid #428BCA; 
            }
         }
    }
}
h2{
    img{
        box-sizing: content-box;
        padding-right:10px;
    }
}
.space--without--underscore{
    color:red;
    text-decoration: none !important;
}
.space--without--underscore:hover{
    text-decoration: none !important;
}
