// NOTE don't use .css when importing 
@import '@fullcalendar/core/main';
@import '@fullcalendar/daygrid/main';
@import '@fullcalendar/timegrid/main';

html, body {
 	margin: 0;
 	padding: 0;
 	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
 	font-size: 14px;
 	border:0px;
}

#calendar {
 	max-width: 900px;
 	margin: 40px auto;
}

.event-modal__participant {
	display: flex;
	flex-direction: row;
}
  
.event-modal__participant span {
	margin-left: auto;
	cursor: pointer;
	color: red;
}

// .navigation{
// 	height: 80px;
// 	border-radius:0px;
// 	margin:0px;
// 	border:0px;
// }

// .navigation, .navbar-default{
// 	background-color: #000;
// 	border-radius:0px;
// 	border:0px;
// }

// .navbar-brand{
// 	width: 388px;
// 	height: 80px;
// 	border-radius:0px;
// 	border:0px;
// }
