
.navigation {
	height: 73px;
	border-radius:0px;
	margin:0px;
	border:0px;
}

.navigation, .navbar-default{
	background-color: #000;
	border-radius:0px;
	border:0px;
	height: 73px;
}

.navbar-brand { 
	width: 388px;
	height: 73px;
	border-radius:0px;
	border:0px;
}

.navbar-brand img { 
	height: 50px;
}