$bgbody:#1d2c3f;
$bgc:#e9342c;
$basefont: 18px;

// body {
//     background-color: white;
//     padding: 0;
//     border: 0;
//     margin: 0;
//     font-family: "Montserrat", sans-serif;
//     z-index: -2;
//     height: 100vh;
// }

.navmenu {
    border-left: solid 0.5px #000;
    position:fixed;
    right:0;
    top:0;
    width:3%;
    height: 100%;
    box-sizing: border-box;
    background-color:#000; 
    display: flex;
    flex-direction: column;
}

.large.tooltip-inner {
    
    height:auto;
    width:auto;
    font-size: 16px;
}
.navmenu__icon {
    
    box-sizing: border-box;
    padding:4%;
    padding-bottom:6%;
    display: flex;
    height:5%;
    width:100%;
    
    align-self: center;
}
.navmenu__icon:hover {
    background-color:lightgray;
}
.navmenu__icon > img {
    height:auto;
    width:100%;  
}

#logout{
     
    position:absolute;
    bottom:0;
}

