@import 'bootstrap/dist/css/bootstrap';

html,body{
	height:100%;
	margin:0px;
}

.main{
	background-image: url("../images/bg-graffiti.png");
    background-size: auto 100%;
    background-color: #017EFF; 
    background-position: right;
    background-repeat: no-repeat;
	height:100%;
	width:100%;
	display: flex;
  	flex-direction: column;
  	justify-content:center;
  	align-items:flex-start;
}

.container{
	margin:0px;
	padding:0px;
  margin-left:12%;
  max-width:390px;
}

.form-heading{
  color:#fff;
  text-align: center;
}


.field-icon {
  float: right;
  margin-right: 5px;
  margin-top: -24px;
  position: relative;
  z-index: 2;
}

.btn{
	background-color: rgb(0,0,0);
	color: rgb(1, 126, 255);
}

.btn:hover{
  color:rgb(255,255,255);
  background-color: rgb(0,0,0);
}

#eye {
    visibility: hidden;
}