html, body, .content {
	height: 100%;
}
.content {
  display:flex;
  align-items: center;
  justify-content: center;
}

.status {
	text-align: center;
}

.status__code {
  font-size: 15vw;
  font-weight: bold;
}

.status__message {
  color: #099bd4;
  font-weight:bold;
  font-size: 2vw;
}

.status__description {
	color: #808080;
}