// NOTE don't use .css when importing 
@import '@fullcalendar/core/main';
@import '@fullcalendar/daygrid/main';
@import '@fullcalendar/timegrid/main';

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.event-modal__participant {
  display: flex;
  flex-direction: row;
}

.event-modal__participant span {
  margin-left: auto;
  cursor: pointer;
  color: red;
}
#calendar {
  max-width: 900px;
  margin: 40px auto;
}


  