.navigation,.navbar-brand{
	height:80px;
}

.active, li:hover{
  background-color: #96beff;
  color:#fff;
}

.navbar-brand{
	background-color:transparent;
	color: #fff;
	margin:0px;
}

.navbar{
	margin-bottom:0px;
	border:0px;
	border-radius:0px;
	background-color:#000;
}

.link{
	color:#fff;
	height:80px;
	font-size:16px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
	height:80px;
	text-align:center;
	padding-top:35px;
	font-size:16px;
}

.navbar-nav>li>a:hover{
	background-color: #96beff;
	color:#fff;
	height:80px;
	font-size:16px;
}
// a tag za logo 
// padding: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding-left: 20px;
//     padding-right: 20px;
// height: 50px;