.container{
	max-width:390px;
	padding-left:15px;
	padding-right:15px;
}

.row{
	margin:0px;
}

.form-text{
	color:rgb(198, 209, 208);
}

.btn{
	background-color: rgb(0,0,0);
	color: rgb(1, 126, 255);
}

.btn:hover{
	color:rgb(255,255,255)
}